:root {
  --primary-color: #9b4dca;
  --secondary-color: #606c76;
  --neutral-color: #d1d1d1;
  --button-bg-color: #5cb3fd;
  --button-border-color: #5cb3fd;
  --button-text-color: #ffffff;
  --button-outline-bg: transparent;
  --button-outline-border: #5cb3fd;
  --button-clear-bg: transparent;
  --main--bg:#f4f5f6;
  --line-height: 1.6;
  --avatar-bg-color: #888888;
  --avatar-placeholder-text: "PLACEHOLDER";
}
body {
  font-family: sans-serif;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
h1,
h2,
p,
ul,
ol {
  line-height: var(--line-height);
  font-weight: 400;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.m-80{
    margin-top: 80px !important;
    margin-bottom: 80px !important;
}
/* container styles */
.defualt-container {
  border-left: 3px solid black;
  padding: 8px;
}
.colorize-container {
  border-left: 3px solid var(--button-bg-color);
  padding: 30px 8px;
  background-color: var(--main--bg);
}
.container {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  overflow: hidden;
}

@media (min-width: 500px) {
  .container {
    max-width: 466px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Button Styles */
.btn {
    cursor: pointer;
  border-radius: 7px;
  padding: 10px 15px;
  font-weight: bold;
}
.default-button,.outline-button:hover {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: 1px solid var(--button-border-color);
  transition: all 1s;
}

.outline-button ,.default-button:hover {
  background-color: var(--button-outline-bg);
  color: var(--button-border-color);
  border: 1px solid var(--button-outline-border);
}

.clear-button {
  background-color: var(--button-clear-bg);
  color: var(--button-border-color);
  border: none;
}

/* Avatar Style */
.avatar {
  width: 80px;
  height: 80px;
  background-color: var(--avatar-bg-color);
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  color: white;
  font-size: 10px;
  justify-content: center;
}

/* Blog Page */
body.blog {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
body.blog > section:first-of-type {
  gap: 20px 150px;
}
.blog header {
  width: 250px;
}
.blog h1:not(.blog-title) {
  margin-left: 20px;
}
.blog ul li a{
    color: var(--primary-color ) !important;

}
.blog a:hover{
    color: var(--secondary-color) !important;
}
.buttons {
  flex-direction: column;
  gap: 10px;
}
.buttons button:first-of-type {
  width: 80%;
}
main {
  width: 400px;
  flex-grow: 1;
}
.panels {
  gap: 20px;
}

.panels > div {
  width: 200px;
  flex-grow: 1;
  background-color: var(--main--bg);
  padding: 5px 15px;
  border-radius: 8px;
}
.panels > div h2 {
  cursor: pointer;
}
.panels > div:first-of-type > h2 > a {
  color: var(--primary-color);
}

footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 0.2rem 1rem 1.5rem;
  margin-top: 2rem;
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: 15px;
}

/* Blog details page*/
.author {
  align-items: center;
  gap: 15px;
}
.author img {
  border-radius: 50%;
}
.back-link,
.author-name {
  color: var(--primary-color);
}

.blog-detials ul {
  list-style: circle;
  padding: inherit;
}
.blog-detials ol {
  padding: inherit;
}
.main-image {
  width: 100%;
}
span.ipsum{
    background-color: var(--main--bg);
    font-size: 13px ;
    font-weight: bold;
    padding: 5px;
    margin: 0 3px;
    border-radius: 5px;
}